html,
body {
	margin: 0;
	padding: 0;
	background-color: black;
}

.titlebar {
	width: 1080px;
	height: 25px;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

.app-logo {
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2.5px;
	left: 5px;
	font-size: 14px;
	-webkit-user-select: none;
}

.title {
	display: flex;
	align-items: center;
	height: 25px;
	position: absolute;
	left: 30px;
	font-size: 14px;
	-webkit-user-select: none;
}

.exit,
.back,
.forward {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	color: white;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

.exit:hover {
	background-color: red;
	cursor: pointer;
}

.back {
	right: 50px;
}

.forward {
	right: 25px;
}

.back:hover,
.forward:hover {
	background-color: #191919;
	cursor: pointer;
}
